
#scene {
    z-index: -999;
    position: absolute;
    height: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.info {
    position: absolute;
    width: 40%;
    margin-top: 20%;
    margin-left: 30%;
    margin-right: 30%;
}

.info > a {
    font-size: 24px;
    margin-left: 80%;
}